.our-client {
    background-image: linear-gradient(0deg, rgba(241, 241, 241, 0.8) 0%, rgba(245, 245, 245, 0.8) 100%), url(../assets/Images/clientbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        .our-client-media {
            .our-client-media-wrapper {
                .client-media-sections {
                    .client-media {
                        .text-unper {
                            font-family: 'Montserrat-Bold';
                            text-transform: uppercase;
                            font-size: 14px;
                            font-weight: 400;
                        }

                        .media-body {
                            .text-under {
                                position: relative;
                                text-transform: uppercase;

                                &::after {
                                    @extend %line;
                                    position: absolute;
                                    top: 100%;
                                    bottom: 0%;
                                    left: 0%;
                                    right: 100%;
                                }
                            }

                        }





                    }
                }
            }

        }
    }

}