.counter {
    background-color: $white-blue;

    .container {

        .count-item {
            .row {
                .count-item-col {

                    @media (max-width: 992px) {
                       
                        border-left: none !important;
                        border-right: none !important ;
                    }



                    h1 {
                        @extend %h1;
                        font-size: convertsize(72);
                        text-transform: uppercase;



                        @media (max-width: 992px) {
                            font-size: convertsize(50);

                        }

                        @media (max-width: 768px) {
                            font-size: convertsize(35);

                        }
                    }
                }
            }

        }
    }
}