
$main: #eead73;
$white:#ffffff;
$green:rgb(35, 233, 35);
$gray:rgb(44, 44, 44);
$gray-white: #EDEFF1;
$white-blue:#95E1D3;
$paraghraghe-color: #888;
$bg-color:#1b1b1b;
$p-color:#999999;
$gray-main-color: #333333;
